.container{
    align-items: center;
    justify-content: center;
    margin: 2rem auto;
    display: flex;
}

.title {
    font-size: 10rem;
    line-height: 1;
    letter-spacing: -10px;
    font-family: extrabold;
    text-transform: uppercase;
    background: linear-gradient(to left, #4b4b4b, #000000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-bottom: 2rem;
}

.inputGroup{
    margin: 1rem;
}

.subtitle {
    font-size: 1.5rem;
    text-align: start;
}

.button{
    width: 90px;
    height: 90px;
    margin: 1rem;
}