.footerbody {
    background-color: #000000;
    color: #ffffff;
    padding: 50px;
    display: flex;
    align-items: center;
    margin-top: 5rem;
}

@media (max-width:600px) {
    .footerbody {
        padding:50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}