.containerCenter{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    min-height: 80vh;
    width: 50%;
}

.textContainer{
    display: grid;
}

.title{
    font-size: 6rem;
    font-family: bold;
    color: #E0E0E0;
    letter-spacing: -3px;
    margin-left: -10px;
}

.subtitle{
    font-size: 1.5rem;
    font-family: regular;
    color: #A1A1A1;
    margin-top: -70px;
}

.iconContainer{
    display: flex;
    align-items: start;
}

.aboutContainer{
    width: 50%;
    display: grid;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.aboutTitle{
    font-size: 4rem;
    font-family: bold;
    color: #E0E0E0;
    margin-top: 5rem;
}

.aboutSubtitle{
    font-size: 2rem;
    color: #A1A1A1;
    margin-top: -30px;
}

.containerStack{
    display: grid;
    margin-top: -30px;
}

.stack{
    margin-top: .2rem
}

.img{
    margin-top: -10px;
}

@media (max-width: 600px){
    .title{
        font-size: 3rem;
        color: #E0E0E0;
        letter-spacing: -2px;
        margin-left: -5px;
    }

    .subtitle{
        font-size: 1.5rem;
        color: #A1A1A1;
        margin-top: -10px;
    }
}