.containerCenterFullFlex {
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.avatar {
    width: 300px;
    height: 300px;
    margin-bottom: 1rem;
}

.title {
    font-size: 2rem;
    margin: 0 auto;
}

.button{
    width: 50%;
    margin-top: .5rem;
}

.subtitle {
    font-size: 1.5rem;
    text-align: start;
}

.containerSobre {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 8rem auto;
}

.containerSobreCard{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 8rem auto;

}
.subtitleSobre {
    font-size: 3rem;
    text-align: center;
    font-family: extrabold;
    text-transform: uppercase;
}

.textSobre {
    font-size: 1.5rem;
    text-align: center;
}

.containerStack {
    display: flex;
    align-items: center;
    justify-content: center;
}

.stack {
    width: 400px;
}

.lista {
    align-items: center;
    flex-direction: column;
    display: flex;
    font-size: 1.5rem;
    text-align: center;
}

.containerProjeto {
    display: grid;
    width: 50%;
    align-items: center;
    justify-content: center;
    margin: 0rem auto;
}

.card {
    width: 300px;
    height: 300px;
    padding: 15px;
    transition: all .3 ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}