.mainTitle{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3rem auto;
    font-size: 4rem;
    font-family: bold;
    color: #E0E0E0;
}

.tipMobile{
    display: none;
}
.projectContainer{
    width: 50%;
    display: grid;
    align-items: center;
    justify-content: center;
    margin: 5rem auto;
}

.img{
    max-width: 900px;
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin: 0 auto;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.img:hover{
    scale: 1.01;
}

.description{
    font-size: 3rem;
    color: #E0E0E0;
    margin-right: 28px;
    font-family: bold;
}

.contentText{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.conheca{
    color: #ffffff;
    font-size: 1.5rem;
    cursor: pointer;
    text-decoration: underline;
    transition: all .1s ease-in-out;
}

.conheca:hover{
    color: #006eff;

}

.badge{
    width: 8.5%;
    margin-bottom: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link{
    text-decoration: underline;
    color: #006eff;
    display: flex;
}

.containerContentAcordion{
    display: grid;
}

@media (max-width: 600px){

 
.projectContainer{
    width: 95%;
    display: grid;
    align-items: center;
    justify-content: center;
    margin: 2rem auto;
}

.description{
    font-size: 2rem;
    color: #E0E0E0;
    font-family: bold;
}

.mainTitle{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-family: bold;
    color: #E0E0E0;
}

.img{
    max-width: 900px;
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin: 0 auto;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.badge{
    width: 20%;
    margin-bottom: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carosel{
    display: none;
}

.tipMobile{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -50px;
    font-size: 1rem;
    color: #b0b0b0;
}


}